{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <style>
        header{
            display: flex;
            width: 100%;
            justify-content: space-around;
            padding-top: 15px
        }
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .page-container{
            background-image: url("{{asset('images/copie.png')}}");
            background-position: center;
            background-repeat: no-repeat;
            background-position-y: center;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            font-family: "Sackers Gothic Std Heavy", serif;
        }
        .hero-header{

        }
        .menus-container{
            margin-left: 25px;
            margin-top: 20px;
        }
        .menu-container a{
            color: #000000;
            font-size: 14px;
        }
        .text-content{
            font-family: "Sackers Gothic Std Heavy", serif;
            line-height: 30px;
            text-align: justify;
        }
        .scroll-downs {
            position: absolute;
            right: 0;
            bottom: 50px;
            left: 0;
            margin: auto;

            width :34px;
            height: 55px;
        }
        .mousey {
            width: 3px;
            padding: 10px 15px;
            height: 35px;
            border: 2px solid #000;
            border-radius: 25px;
            opacity: 0.75;
            box-sizing: content-box;
        }
        .scroller {
            width: 3px;
            height: 10px;
            border-radius: 25%;
            background-color: #000;
            animation-name: scroll;
            animation-duration: 2.2s;
            animation-timing-function: cubic-bezier(.15,.41,.69,.94);
            animation-iteration-count: infinite;
        }
        @keyframes scroll {
            0% { opacity: 0; }
            10% { transform: translateY(0); opacity: 1; }
            100% { transform: translateY(15px); opacity: 0;}
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 220px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            line-height: 30px;
        }
        .dropdown-content a{
            font-size: 12px;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
        @media (max-width : 1280px) {
            header{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
            }
            .page-container{
                background-image: url("{{asset('images/copie.png')}}");
                background-position: center;
                background-repeat: no-repeat;
                background-position-y: center;
                font-family: "Sackers Gothic Std Heavy", serif;
            }
        }
    </style>
    <div class="page-container">
        <header>
            <div class="logo-container">
                <a href="{{ path('app_home') }}"><img
                        src="{{ asset('images/logo2.png') }}"
                        height="50"
                        alt=""
                        loading="lazy"
                /></a>
            </div>
            <div style="width: 30%">
                <div style="display: flex; width: 100%; justify-content: space-between" class="menus-container">
                    <div class="menu-container dropdown">
                        <a href="#">NOTRE DOMAINE</a>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="{{path('app_notre_histoire')}}">NOTRE HISTOIRE</a></li>
                                <li><a href="{{path('app_nos_evenements')}}">NOS EVENEMENTS</a></li>
                                <li><a href="{{path('app_nos_chambres_hote')}}">NOS CHAMBRES D'HÔTE</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="menu-container dropdown">
                        <a href="#">NOTRE SAVOIR-FAIRE</a>
                        <div class="dropdown-content">
                            <ul>
                            <li><a href="{{path('app_travail_de_la_vigne')}}">LE TRAVAIL DE LA VIGNE</a></li>
                            <li><a href="{{path('app_notre_histoire')}}">AGRICULTURE BIOLOGIQUE</a></li>
                            <li><a href="{{path('app_notre_histoire')}}">DEGUSTATION ET RESTAURATION</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="menu-container dropdown">
                        <a href="#">NOS VINS</a>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="{{path('app_notre_histoire')}}">AOC CASTILLON CÔTES DE BORDEAUX</a></li>
                                <li><a href="{{path('app_notre_histoire')}}">AOC BORDEAUX ROUGE</a></li>
                                <li><a href="{{path('app_notre_histoire')}}">AOC BORDEAUX ROSÉ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="hero-header">
            <div style="background-image: url()" class="page-title-container">
                <h1 style="font-size: 60px;text-align: center">{{ title }}</h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2 style="font-size: 30px;text-align: center">{{ subtitle }}</h2>
                <br>
                <br>
                <div class="scroll-downs">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="padding-left: 300px; padding-right: 300px" class="page-content">
            <p class="text-content">
                {{ content }}
            </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div style="display: flex; justify-content: center">
            <a href="{{ path('app_home') }}">Retour à l'accueil</a>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
